# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
.venv/

# SQLite database (if using SQLite)
*.db
*.sqlite3

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# FastAPI / Uvicorn specific
*.env

# IDE
.vscode/

# DEV UTILS
api-doc.md